body {background:mintcream;		
Color:black}
H1{font-size: 250%;
	font-weight: bold;
	Color:midnightblue;
font-family: 'Port Lligat Sans', sans-serif;
H2{font-size: 200%;
	font-weight: bold;
	Color:midnightblue;
font-family: 'Port Lligat Sans', sans-serif;
H3{font-size: 150%;
	font-weight: bold;
	Color:midnightblue;
font-family: 'Port Lligat Sans', sans-serif;